<!DOCTYPE html>
<html>

<body>
    <h1>NPM package search</h1>
    <p>
        <a href="/packs">NPM packages in database</a>
    </p>

    <form action="/npmpack" method="POST">
        Package name:
        <input type="text" name="pname">
        <br> Version:
        <input type="text" name="version">
        <br>
        <input type="submit" value="Search">
    </form>
</body>

</html>